/*
  The dot (.) signifies that it's styling a class
  The hash (#) signifies that it's styling an id
*/

body{background-color:#ffffe6;}

.block{background-color: #e6e6ff;}


img{
	max-width:75%;
	length:auto;
}

.tiny{
	max-width:1%;
	length:auto;
}

.extra-space{
	margin-bottom:50px;
}

.space{
	margin-bottom:10px;
}

.text-left{
	text-align:left;
}

h4 {
	font-family:courier;
	color:#660066;
}

body {
	font-family:"Courier New";
}

.nav-toggle{
	color:purple;
}

.nav-toggle:hover{
	color:yellow;
}

.nav-col{
	color:#660066;
}

/*getting horiz navi bar */

#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}

	.bgimage{
		background-image: url("../img/landscape.jpeg");
		background-repeat: repeat-x;
	}

